﻿<html ng-app="shopApp">

	<!-- https://docs.google.com/document/d/11Dgp6GXs3uJTA4bhy2hdf_5j00wKESc2zrjl-0sqPW0/edit?usp=sharing -->

	<!-- https://edumatic.wmi.amu.edu.pl:8443/lms/ -->

	<meta charset="utf-8">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="controller.js"></script>
	<script src="bank.js"></script>
	<script src="shop.js"></script>
	<script src='money.js'></script>
	
	<!-- https://github.com/andyperlitch/angular-jsbn-big-integer -->
	<script src='big-integer.js'></script>
	
	<!-- http://www.movable-type.co.uk/scripts/sha256.html -->
	<script src='sha256.js'></script>
	
	<link rel="stylesheet" type="text/css" href="main.css">
	
	<title>Sklep</title>
	
	<body>

		<div ng-controller="shopCtrl" ng-init="init()">
		
			<input type="number" ng-model="myNumber"></br>
			<button ng-click="action1()">Akcja 1</button></br>
			<button ng-click="action2()">Akcja 2</button></br>
		
			</br>
			<textarea rows="10" cols="100">{{example}}</textarea>
		</div>

	</body>
</html>